# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=56eaabba6209eb037b36d001f715f166
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> docker parameters ###
SYMFONY_APP_PATH=./
LOCAL_NGINX_PORT=8680
###< docker parameters ###

###> Github app parameters ###
GITHUB_CLIENT_ID='Iv1.c7bbcaea5aa88614'
GITHUB_CLIENT_SECRET=19a9d7ceef117854e41866a29742a32a9fe30ec5
GITHUB_RANDOM_STATE=C45EEB4C81CD9299E70A6C9C302462F4
###< docker parameters ###